<h1>New division</h1>

<form action="/wizard_div">
  <label for="divide_this:">Divide this:</label>
  <input type="text" id="divide_this:" name="divide_this:">

  <label for="by_this:">by this:</label>
  <input type="text" id="by_this:" name="by_this:">

  <button>Divide!</button>
</form>
