<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="subtract_this:">Subtract this:</label>
  <input id="subtract_this:" name="subtract_this:" text="text">

  <label for="from_this:">from this:</label>
  <input id="from_this:" name="from_this:" text="text">

  <button>Subtract!</button>
</form>
