<h1>New addition</h1>

<form action="/wizard_addition">
  <label for="add_this">Add this:</label>
  <input type="text" id="add_this" name="first_num">

  <label for="to_this">to this:</label>
  <input type="text" id="to_this" name="second_num">

  <button>Add!</button>
</form>
