<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="multiply_this:">Multiply this:</label>
  <input type="text" id="multiply_this:" name="multiply_this:">

  <label for="by_this:">by this:</label>
  <input type="text" id="by_this:" name="by_this:">

  <button>Multiply!</button>
</form>
